$primary: #f2785c;                    // 100%
$primary70: rgba(242, 119, 92, 0.7);  // 70%
$primary50: rgba(242, 119, 92, 0.5);  // 50%
$secondary: #0d606f;
$secondary50: rgba(13, 96, 111, 0.5); // 50%

$fff: #ffffff;                        // 100%
$fff70: rgba(255, 255, 255, 0.7);     // 70%
$f8: #f8f8f8;

$bg: #e5e5e5;